.operatorButtonContainer {
    display: flex;
    flex-direction: column;
}
.operatorButton {
    background-color: #007395;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 2px 1px #000;
    padding: 1rem;
    margin-bottom: 1em;

    &:last-child {
        margin-bottom: 0;
    }
}