.display {
    margin: 1rem 0;
    height: 30px;
    max-width: 100%;
    width: auto;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px 20px;
    font-size: 1.5rem;
  }