.specialButton {
    background-color: #005ca0;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 2px 1px #000;
    padding: 1rem;
    margin-bottom: 1em;
    margin-right: 1em;
    width: 4em;
    height: 4em;
}